{% load static %}

<!-- Bootstrap and necessary plugins -->
<script src="{% static 'app/js/jquery.min.js' %}"></script>
<script src="{% static 'app/js/popper.min.js' %}"></script>
<script src="{% static 'app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'app/js/pace.min.js' %}"></script>

<script src="{% static 'app/js/views/main.js' %}"></script>
<script src="{% static 'app/js/vendor.bundle.base.js' %}"></script>

<script src="{% static 'app/js/off-canvas.js' %}"></script>
<script src="{% static 'app/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'app/js/misc.js' %}"></script>

<script src="{% static 'app/js/file-upload.js' %}"></script>

{% block script %}

{% endblock %}
