{% extends 'base/base.html' %}
{% block content %}
<!-- partial -->
<div class="content-wrapper">

    <div class="row">
        <div class="col-12">
            <div class="card"style="background-color: #191a1a;color:#ffffff;font-family:Prompt;">
                <div class="card-body">

                    <form class="formdata" >
                        {% csrf_token %}
                        <p class="card-description"> Create New User </p>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Bank/Organization Name </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="bank_name" id="bankNameID" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Bank/Organization Code</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="bank_code" id="bankCodeID" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Employee  Name</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="employee_name" id="employeeNameID" />
                                        <span id="customername" class="text-danger font-weight-bold"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Employee Code</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="employee_code" id="employeeCodeID" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Password </label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" name="password1" id="password1" />
                                        <span id="customername" class="text-danger font-weight-bold"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Retype Password</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" name="password2" id="password2" />
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Designation</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="designation" id="designationID" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">
                                        Employment Status
                                    </label>

                                    <div class="col-sm-3">
                                        <input class="form-check-input" type="radio" name="employee_status"
                                               value="permanent" id="employee_status">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Permanent
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-check-input" type="radio" name="employee_status"
                                               value="contractual " id="employee_status">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Contractual
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Contact Number </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="contact_number" id="contactNoID" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Email</label>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" name="email_address" id="emailAddressID" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> User Role Required   </label>
                                    <div class="col-sm-7">
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width:240px;" onchange="checkUserRole()" id="user_role" name="user_role">
                                            <option value=" Level-I/Maker"> Level-I/Maker</option>
                                            <option value=" Level-II/Checker"> Level-II/Checker</option>
                                            <option value="Level-III/Quality Reviewer">Level-III/Quality Reviewer</option>
                                            <option value=" MLRO"> MLRO</option>

                                            <option value="Leadership Level">Leadership Level</option>
                                            <option value="other"> Others</option>



                                        </select>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6" style="display:none;" id="userRoleOther">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Please Specify details here </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="user_role_other" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Action Required   </label>
                                    <div class="col-sm-7">
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width:240px;" id="action_required" name="action_required">
                                            <option value=" Level-I/Maker"> Creation</option>
                                            <option value=" Level-II/Checker"> Activition </option>
                                            <option value="Level-III/Quality Reviewer">Deletion</option>
                                            <option value=" MLRO">Password Reset</option>


                                        </select>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6" style="display:none;">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label" title="Please leave blank in case of new user"> Exicting User ID </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"> Remarks</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"
                                               name="remarks" id="remarks" />
                                    </div>
                                </div>
                            </div>
                        </div>



                        <p class="card-description"> Approving Authority / Head of Department</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"> Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"
                                               name="hod_name" id="hod_nameID" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">
                                        Designation
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control"
                                               name="hod_designation" id="hod_designationID" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" title="Cell No. /Direct No."> Contact Details</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"
                                               name="hod_cell_phone" id="hod_cell_phoneID" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">
                                        Official Email Address
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control"
                                               name="hod_email" id="hod_emailID" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"> Approver Signature </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"
                                               name="approval_signature" id="ctID" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <p class="card-description"> For Stifle Technologies Internal Use</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"> Reviewed By</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"
                                               name="number_debit_transaction" id="dtID" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">
                                        Designation
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control"
                                               name="amount_debit_transaction" id="adtID" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label"> Processed By</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control"
                                               name="number_credit_transaction" id="ctID" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">
                                        Official Email Address
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control"
                                               name="amount_credit_transaction" id="actID" />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn ajaxcall">Submit</button>
                                <button class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        function checkUserRole() {
            var choice = document.getElementById("user_role");
            var y = document.getElementById("userRoleOther");


            var val = choice.value;
            if (val == "other") {

                y.style.display = "block";
            }
            else {

                y.style.display = "none";
            }


        }
    </script>

    <script>
        // onclick ajax call
        $('.ajaxcall').on('click', function (e) {
            e.preventDefault();

           /* if (myFormValidation() === true) {*/
                // get all form data
                var queryString = $('.formdata').serialize();
                $.ajax({
                    url: '{% url "createuser" %}',
                    type: 'POST',
                    data: queryString,
                    success: function (data) {
                        //get id from data
                        //var id = data.id;
                        //console.log(id);
                        // sweet alert isconfirm and hit url
                        swal({
                            title: "User Created Successfully",
                            text: " ###?",
                            icon: "success",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    }
                });

            

        });




    </script>


</div>
            {% endblock %}
